run/
.gradle/
.vscode/
.bin/
.libs/
gradle/
build/
out/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
*.log
hs_err_pid*.log
ru_ru.lang
tc4_text.lang
en_us.lang
bin/
Thaumcraft-6-Source-Code-master-main/
run/
.gradle
refer/*
refer/
.gradle/
*run/*
.gradle/gradle.log
Modelfile.gpt-oss-20b-100k
localrepo/com/azanor/Thaumcraft/1.12.2-6.1.BETA26/
ru_ru_tc4.lang
