# Configuration file

client {
    # Set this to false to disable rendering of baubles in the player. [default: true]
    B:baubleRender.enabled=true

    gui {
        B:baublesButton=true
        I:column=2
        S:guiList <
            vazkii.botania.client.gui.box.GuiBaubleBox
            cursedflames.bountifulbaubles.block.GuiReforger
         >
        B:guiOverlay=true
        B:scrollerBar=true
        B:typeTip=true
        B:visibleSwitchers=true
        B:widerBar=false
    }

}


compatibility {
    B:actuallyAdditions.enabled=true
    B:reliquary.enabled=true
}


general {
    B:baubleExpanded.enabled=false
    S:clickBlacklist <
        wct:wct
     >
    S:itemsJson <
        items.json
     >
    B:keepBaubles=false
    S:modulesJson <
     >
    B:rightClick=true
    S:typesJson <
        types.json
     >

    slots {
        I:amuletSlot=1
        I:baubleSlot=0
        I:beltSlot=1
        I:bodySlot=1
        I:charmSlot=1
        I:headSlot=1
        I:ringSlot=2
        I:trinketSlot=0
    }

    compat {
        S:methodLocation <
            artifacts.client.model.layer.LayerBauble.doRenderLayer
            keletu.enigmaticlegacy.client.LayerBauble.doRenderLayer
            rlmixins.client.layer.LayerQuarkBaubleHat.doRenderLayer
            com.keletu.ancienttweaks.baubles.client.LayerBeltJelly.doRenderLayer
         >
        B:thaumcraft=true
    }

    items {
        B:elytraBauble=false
        S:elytraSlot=elytra
        B:itemRing=true
        I:maxLevel=1
        B:testItem=false
        B:totemBauble=false
        S:totemSlot=charm
    }

    commands {
        B:commandLogs=true
        B:debug=false
        B:dropBaubles=true
    }

}


