# Configuration file

foci {
    I:"Focus4 Complexity"=80
    I:"Focus5 Complexity"=120
}


general {
    B:"Enable Ancient Ore Generation"=true
    B:"Enable Aquareia Ore Generation"=true
    B:"Enable Funny Staff"=true
    B:"Enable Silk Touch Fix"=false
    B:"Enable Standard Ore Generation"=true
    B:"Enable Thaumic Event Handler"=false
    B:"Enable Thaumic House Generation"=true
    B:"Enable mechanismComplex Recipe"=true
    S:"Research List" <
     >
    I:"Thaumic House Spawn Chance"=10
    I:aspectTotalCap=10000
    B:instantScans=false
    B:inventoryScanning=true
    I:notificationDelay=2000
    I:notificationMax=10

    # Not quite sure yet low key
    I:researchDifficulty=1

    # Maximum number of aspects in a research note (0 = unlimited)
    I:researchNoteAspectLimit=22
}


integration {
    B:"Enable Old Research"=true
}


maze {
    I:"Maze Chance"=450
}


"mystic slots" {
    S:"Category Slots" <
        BASICS=HEAD
        ALCHEMY=BELT
        AUROMANCY=AMULET
        ARTIFICE=BODY
        INFUSION=RING
        GOLEMANCY=RING
        ELDRITCH=CHARM
     >
    S:"Immediate Slots" <
        RING
        RING
     >
}


worldgen {
    I:"Hilltop Stones Spawn Chance"=40
    I:"Obsidian Totem Spawn Chance"=300
}


